        body,html{ width:100%; height: 100%;overflow: hidden}
        *{margin: 0; padding: 0;}
        a{text-decoration: none; color:#666;}
        #hide{ display: none;}
        li{list-style: none;}

        .keyboard{transform: rotateX(40deg);
 width: 100%; position: absolute;  text-align:center;left: 0; bottom:0;height:300px; background: #000; }
        .keyboard ul{display: inline-block; height: 200px; margin-top: 40px;}
        .keyboard li{ width: 40px; background: #fff; height: 200px;display: inline-block; box-sizing: border-box; border: 1px solid #ccc;}

        .keyboard a{ width: 40px; background: #fff; height: 200px;display: inline-block; box-sizing: border-box; border: 1px solid #ccc;}
        .keyboard ul li .as{background:linear-gradient(#fff, #333);opacity:0.7 }